@page "{id}"
@model WebApplicationRP.Pages.Departments.DetailsModel
@{
    ViewData["Title"] = "Details";
}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Name</td>
            <td>#Students</td>
            <td>Operations</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Department.Name</td>
            <td>@Model.Department.Students.Count</td>
            <td>
                <a class="btn btn-warning mr-2" asp-page="/departments/edit" asp-route-id="@Model.Department.Id">Edit</a>
                <a class="btn btn-danger mr-2" asp-page="/departments/delete" asp-route-id="@Model.Department.Id">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<a class="btn btn-secondary" asp-page="/departments/Index">Back</a>